body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.task-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-list {
  border: 1px solid #ddd;
  padding: 10px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.card{
  /* border: solid red; */
  /* background-color: rgb(26, 233, 26); */
  border-top:solid black ;
  display: flex;
  
}
.heading{
  /* border: solid green ; */
  font-size: 17px;
  width: 200px;
}
.usertasks{
  /* border: solid purple; */
  font-size: 15px;
  width: 200px;
}
.Priorities{
  /* border: solid blue; */
  width: 200px;
}
.deadline{
  /* border: solid yellow; */
  width: 200px;
}
.btnDel{
  background: #007bff;
  color: whitesmoke;
  border: solid black;
  font-size: 12px;
  height: 20px;
  width: 50px;
  /* border-radius: 1px; */
  margin-left: -48px;
  margin-top: 53px;
}
.btnEdit{
  background: #007bff;
  color: whitesmoke;
  border: solid black;
  font-size: 12px;
  height: 20px;
  width: 50px;
  /* border-radius: 1px; */
  margin-top: 53px;
  margin-left: 5px;
}
.delBtn{
  border: solid gray;
}
.markHeading{
  margin-left: 35px; 
}
.actionHeading{
  margin-left: -50px;
} 
#completed {
  margin-bottom: -20px;
  margin-left: -60px;
}

.card {
  /* border: 1px solid #ccc; */
  padding: 10px;
  margin-bottom: 10px;
}

.priority-low {
  background-color: #d3e0dc; /* Light blue */
}

.priority-medium {
  background-color: #f4dada; /* Light red */
}

.priority-high {
  background-color: #f8e9a1; /* Light yellow */
}
